<!-- Nếu có id ~ chỉnh sửa: đổi tên tiêu đề và cho id vào form -->
<h1 *ngIf="id">Chỉnh sửa sản phẩm {{productDetail.name}}</h1>
<h1 *ngIf="id === undefined">Thêm mới sản phẩm</h1>

<p>{{productForm.form.invalid}}</p>

<form #productForm="ngForm" (ngSubmit)="onUpdate(productForm.value)">
  <input
    *ngIf="id"
    type="hidden"
    placeholder="Ten"
    name="id"
    [(ngModel)]="productDetail.id"
  />

  <input
    type="text"
    placeholder="Ten"
    name="name"
    [(ngModel)]="productDetail.name"
    required
    minlength="6"
    #name="ngModel"
  />
  <input
    type="text"
    placeholder="Mo ta"
    name="desc"
    [(ngModel)]="productDetail.desc"
    minlength="6"
    required
    #desc="ngModel"
    />
  <input
    type="number"
    placeholder="Gia"
    name="price"
    [(ngModel)]="productDetail.price"
    min="1"
    #price="ngModel"
    >
    <p>{{name.errors | json}}</p>
  <div *ngIf="productForm.form.dirty" style="color: red">
    <div *ngIf="name.errors?.['required']">
      Tên sp bắt buộc nhập
    </div>
    <div *ngIf="name.errors?.['minlength']">
      Tên sp phải từ 6 ký tự trở lên
    </div>
    <div *ngIf="desc.errors?.['required']">
      Mô tả bắt buộc nhập
    </div>
    <div *ngIf="desc.errors?.['minlength']">
      Mô tả phải từ 6 ký tự trở lên
    </div>
    <div *ngIf="price.errors?.['min']">
      Giá phải lớn hơn 0
    </div>
  </div>
  <div>
    <button
    class="btn btn-primary"
    [disabled]="productForm.form.invalid"
    >Submit</button>
  </div>
</form>
