<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>User table</title>
</head>
<body ng-app="user-table">
    <!-- <div class="container" ng-controller="eventController">
        <input type="text" ng-model="inputValue">
        <p>{{inputValue}}</p>
        <input type="text" placeholder="inputValue 2" ng-keyup="onInput($event)">
        <p>{{inputValue2}}</p>
        <button ng-click="onClick()">Submit</button>
        <p>Count: {{count}}</p>
    </div> -->


    <div class="container" ng-controller="tableController">
        <div>
            <form action="">
                <div class="form-group">
                    <label for="">Tên</label>
                    <input
                        type="text"
                        ng-model="inputValues.name"
                        class="form-control"
                    >
                </div>
                <div class="form-group">
                    <label for="">Địa chỉ</label>
                    <input type="text" ng-model="inputValues.address" class="form-control">
                </div>
                <div>
                    <input type="radio" value="0" ng-model="inputValues.status">0
                    <input type="radio" value="1" ng-model="inputValues.status">1
                </div>
                <button
                    ng-click="onSubmitForm()"
                    class="btn btn-success"
                    type="button"
                >Submit</button>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Địa chỉ</th>
                    <th>SĐT</th>
                    <th>Email</th>
                    <th>Avatar</th>
                    <th>Status</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td><img src="{{user.avatar}}" width="100"></td>
                    <!-- <td>{{user.status ? (user.status === 1 ? 'Kích hoạt' : '') : 'Không kích hoạt'}}</td> -->
                    <td ng-if="user.status === 0">Không kích hoạt</td>
                    <td ng-if="user.status === 1">Kích hoạt</td>
                    <td ng-if="user.status === 2">Chờ kích hoạt</td>
                    <td>
                        <button
                            class="btn btn-warning"
                            ng-click="onEdit(user.id)"
                        >Sửa</button>
                        <button
                            class="btn btn-danger"
                            ng-click="onDelete(user.id)"
                        >Xoá</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="./libs/angular.min.js"></script>
    <script>
        var app = angular.module('user-table', []);

        function eventController ($scope) {
            $scope.count = 0;
            $scope.onClick = function () {
                $scope.inputValue = 'da click';
                $scope.count++; // $scope.count = $scope.count + 1;
            }
            // Lấy giá trị input tự động theo ng-model
            $scope.inputValue = '12312312';
            // Lấy giá trị input thủ công
            $scope.inputValue2 = '';
            $scope.onInput = function(event) {
                console.log(event)
                $scope.inputValue2 = event.target.value;
            }
        }
        app.controller('eventController', eventController);

        function tableController ($scope) {
            $scope.users = [
                {
                    id: 1,
                    name: 'tuannda3',
                    address: 'HN',
                    phone: '0392871868',
                    email: 'tuannda3@fe.edu.vn',
                    avatar: '',
                    status: 0
                }
            ];
            // 1. Định nghĩa giá trị mặc định cho form
            $scope.defaultForm = {
                name: '',
                address: '',
                phone: '', //default
                email: '', //default
                avatar: '', //default
                status: 0 //default
            };
            // 2. Gán giá trị mặc định cho các ng-model
            $scope.inputValues = {...$scope.defaultForm};
            // 3. Sự kiện click nút submit
            $scope.onSubmitForm = function () {
                // 3.0 Kiểm tra nếu có id thì sửa và return
                if ($scope.inputValues.id) {
                    // Lấy dữ liệu đã chỉnh sửa
                    var editData = {
                        ...$scope.inputValues,
                        status: +$scope.inputValues.status
                    };
                    // Tìm ra vị trí user cần chỉnh sửa
                    var userIndex = $scope.users.findIndex(function (item) {
                        return item.id === $scope.inputValues.id;
                    });
                    // Gán lại giá trị mới
                    $scope.users[userIndex] = {...editData};
                    // Gán giá trị default cho form
                    $scope.inputValues = {}
                    // Thoát hàm để không chạy xuống logic tạo mới
                    return;
                }
                // 3.1 Xử lý id để có id mới
                var ids = $scope.users.map(function (item) {
                    return item.id;
                });
                var sortedIds = ids.sort(function (a, b) {
                    return a - b;
                }); // so sánh thêm điều kiện về mặt giá trị
                // 3.2 Giá trị form đã nhập kèm id
                var data = {
                    // name: inputValues.name,
                    // address: inputValues.address,
                    ...$scope.inputValues, // lấy tất cả key value của obj khác
                    // name: 'abc', //ghi đè giá trị bằng key value khác
                    id: sortedIds[sortedIds.length - 1] + 1,
                    status: +$scope.inputValues.status
                };
                console.log(data);
                // 3.3 Push dữ liệu data vào mảng
                $scope.users.push(data);
                // 3.4 Cập nhật lại giá trị ban đầu
                // $scope.inputValues = {...$scope.defaultForm};
                $scope.inputValues = {};
            };
            $scope.onDelete = function (userId) {
                // VD: userId = 4 -> lọc để lấy ra những ptu id !== 4
                $scope.users = $scope.users.filter(function (item) {
                    return item.id !== userId;
                })
            };
            $scope.onEdit = function (userId) {
                // 1. Tìm ra user cần sửa theo id
                var editUser = $scope.users.find(function (item) {
                    return item.id === userId;
                });
                // 2. Đưa dữ liệu user cần sửa lên form
                if (editUser) {
                    $scope.inputValues = {
                        ...editUser,
                        // status: editUser.status + ''
                        status: `${editUser.status}` // chuỗi đọc cả biến trong ${}
                    };
                }
            };
        }
        app.controller('tableController', tableController);
    </script>
</body>
</html>
