<form>
    <input
        placeholder="Tên người yêu"
        ng-model="inputs.ten"
    >
    <p
        style="color:red"
        ng-if="!inputs.ten"
    >Yêu cầu nhập tên</p>
    <input
        placeholder="Tuổi người yêu"
        ng-model="inputs.tuoi"
        type="number"
    >
    <!-- angular.element(this).scope() sẽ gọi đến $scope của controller
        đang quản lý view này -->
    <input type="file"
        onchange="angular.element(this).scope().onChangeImg(event)"
    >
    <div><img src="{{inputs.img}}" width="200" alt=""></div>
    <!-- Kiểm tra việc lắng nghe dữ liệu của ng-model -->
    <a href="#!/quan-ly">
        <button">
            Huỷ
        </button>
    </a>
    <button type="button"
        ng-click="onSave()"
    >Lưu</button>
</form>
