<div>
    <h1>Tạo mới danh mục</h1>
    <!-- Validate form -->
    <!-- 1. Định nghĩa loại lỗi cần bắt cho input -->
    <!-- 2. Định nghĩa tên cho form và input -->
    <form name="cateForm">
        <div class="form-group">
            <label for="">Tên danh mục</label>
            <input
                type="text"
                class="form-control"
                ng-model="categoryName"

                name="cateName"

                required
                minlength="6"
                maxlength="32"
            >
            <input
                type="file"
                ng-model="imageUrl"
                onchange="angular.element(this).scope().onChangeImage(event)"
            >
            <!-- <span>{{ten_form.ten_input.$error.ten_loi}}</span> -->
            <!-- <span>{{cateForm.cateName}}</span> -->
            <!-- $touched: đã bấm vào input chưa, $dirty: đã thay đổi giá trị input chưa -->
            <div ng-if="cateForm.cateName.$touched || cateForm.cateName.$dirty">
                <span>{{cateForm.cateName.$error.required && 'Bắt buộc nhập'}}</span>
                <span>{{cateForm.cateName.$error.minlength && 'Tối thiểu 6'}}</span>
                <span>{{cateForm.cateName.$error.maxlength && 'Tối đa 32'}}</span>
                <span>{{cateForm.cateName.$error}}</span>
            </div>
        </div>
        <div>
            <button
                type="button"
                class="btn btn-success"
                ng-disabled="cateForm.$invalid"
                ng-click="onSubmit()"
                >Tạo mới</button>
        </div>
    </form>
</div>
