<div class="container">
  <!-- <p>{{productForm.value | json}}</p> -->

  <p>{{newProduct | json}}</p>

  <div class="row">
    <!-- <div class="col-md-6">
      <form #productForm="ngForm" class="form" (submit)="onSubmit(productForm.value)">
        <div class="form-group">
          <input
          type="text"
          class="form-control"
          placeholder="name"
          name="name"
          [(ngModel)]="newProduct.name"
          >
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="price"
            name="price"
            [(ngModel)]="newProduct.price"
            >
        </div>
        <div class="form-group">
          <input
          type="text"
          class="form-control"
          placeholder="desc"
          name="desc"
          [(ngModel)]="newProduct.desc"
          >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div> -->
    <div class="col-md-12">
      <a routerLink="/product/create">
        <button class="btn btn-primary">
          Tạo mới
        </button>
      </a>
    </div>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead><tr>
          <td>ID</td>
          <td>Ten SP</td>
          <td>Gia SP</td>
          <td>Mo ta SP</td>
          <td>Hanh dong</td>
        </tr></thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.desc}}</td>
            <td>
              <a [routerLink]="['/product', product.id]">
                <button class="btn btn-primary">Xem chi tiet</button>
              </a>
              <a [routerLink]="['/product', product.id, 'edit']">
                <button class="btn btn-warning">Chinh sua</button>
              </a>
              <button class="btn btn-danger">Xoa</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
