<p class="login-title">List user</p>

<div>
  <input type="text" placeholder="Search" (input)="onSearch($event)">
</div>

<div class="container col-6">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control"
      (input)="onChange($event, 'name')"
      [value]="newUser.name"
      />
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" id="age" class="form-control"
      (input)="onChange($event, 'age')"
      [value]="newUser.age"
      >
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" class="form-control" (input)="onChange($event, 'phone')"
      [value]="newUser.phone"
      >
    </div>
    <div class="form-group">
      <label for="avatarUrl">Avatar url</label>
      <input type="text" id="avatarUrl" class="form-control" (input)="onChange($event, 'avatar')"
      [value]="newUser.avatar"
      >
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" [disabled]="!onValidate(newUser)" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</div>

<div class="container">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Phone</th>
      <th>Avatar</th>
      <th>Action</th>
    </thead>
    <tbody>

      <tr *ngFor="let item of usersFilter">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.phone}}</td>
        <td>
          <img height="100" src="{{item.avatar}}" alt="">
          <img height="100" [src]="item.avatar" alt="">
        </td>
        <td><button
          class="btn btn-danger"
          (click)="remove(item.id)"
          >Delete</button>
          <button class="btn btn-success" (click)="onEdit(item)">Edit</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
